body {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #6549DA;
  text-align: center;
  color: #fca481;
  padding-top: 1px;
  padding-bottom: 1px;
}

main {
  background-color: #9cdef6;
  padding-top: 1px;
}

.edit-container {
  margin-left: 20px;
}

.edit-item {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}

.edit-item p {
  margin-right: 5px;
}

.edit-item div {
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
}

.text-container {
  color: white;
  padding: 20px 30px;
}

.text-container h2 {
  margin: 0 auto;
  color: #6549da;
}

.text-container h3 {
  color: #6cb0f2;
}

footer {
  background-color: #6549DA;
  text-align: center;
  color: #fca481;
  padding-top: 1px;
  padding-bottom: 1px;
}

footer a {
  color: white;
  text-decoration: none;
}